In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("../datasets/cbecs2018_final_public.csv")

In [3]:
data.head()

,PUBID,REGION,CENDIV,PBA,PUBCLIM,SQFT,SQFTC,WLCNS,RFCNS,RFCOOL,...,ZMFBTU,ZMFEXP,ZELCNS,ZELEXP,ZNGCNS,ZNGEXP,ZFKCNS,ZFKEXP,ZDHBTU,ZDHEXP
0,1,3,5,2,3,210000,8,1,4,2,...,0,0,0,0,9,9,1,1,0,0
1,2,4,9,2,4,28000,5,1,6,1,...,0,0,0,0,0,0,9,9,9,9
2,3,3,5,8,4,2100,2,1,4,2,...,0,0,0,0,9,9,9,9,9,9
3,4,3,7,5,5,240000,8,2,6,1,...,0,0,0,0,1,1,9,9,9,9
4,5,1,2,5,3,295000,8,3,6,2,...,0,0,0,0,0,0,9,9,9,9

In [4]:
data.columns

Index(['PUBID', 'REGION', 'CENDIV', 'PBA', 'PUBCLIM', 'SQFT', 'SQFTC', 'WLCNS',
       'RFCNS', 'RFCOOL',
       ...
       'ZMFBTU', 'ZMFEXP', 'ZELCNS', 'ZELEXP', 'ZNGCNS', 'ZNGEXP', 'ZFKCNS',
       'ZFKEXP', 'ZDHBTU', 'ZDHEXP'],
      dtype='object', length=1249)

In [5]:
data.describe()

,PUBID,REGION,CENDIV,PBA,PUBCLIM,SQFT,SQFTC,WLCNS,RFCNS,RFCOOL,...,ZMFBTU,ZMFEXP,ZELCNS,ZELEXP,ZNGCNS,ZNGEXP,ZFKCNS,ZFKEXP,ZDHBTU,ZDHEXP
count,6436.000000,6436.000000,6436.000000,6436.000000,6436.000000,6.436000e+03,6436.000000,6436.000000,6436.000000,6436.000000,...,6436.000000,6436.000000,6436.000000,6436.000000,6436.000000,6436.000000,6436.000000,6436.000000,6436.000000,6436.000000
mean,3218.500000,2.629739,5.105811,12.564947,3.646830,1.691617e+05,5.611871,2.379273,4.355811,1.501554,...,0.429459,0.449658,0.407085,0.441112,2.871193,2.909571,6.785270,6.804848,8.273928,8.275637
std,1858.057498,1.006943,2.439221,11.937664,1.701329,2.851251e+05,2.304431,1.741901,2.081375,0.500036,...,1.092531,1.093648,1.090856,1.093221,3.978072,3.954940,3.681433,3.647798,2.358672,2.353031
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.001000e+03,2.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1609.750000,2.000000,3.000000,5.000000,2.000000,1.125000e+04,4.000000,1.000000,2.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,9.000000,9.000000
50%,3218.500000,3.000000,5.000000,13.000000,3.000000,6.900000e+04,6.000000,1.000000,5.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,9.000000,9.000000,9.000000,9.000000
75%,4827.250000,3.000000,7.000000,16.000000,5.000000,2.100000e+05,8.000000,3.000000,6.000000,2.000000,...,1.000000,1.000000,1.000000,1.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000
max,6436.000000,4.000000,9.000000,91.000000,7.000000,2.100000e+06,10.000000,8.000000,8.000000,2.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000

In [6]:
columns = ["DATACNTR", "TRNGRM", "STDNRM", "LGOFFDEV", "SMOFFDEV", "SERVER", "LAPTOP", \
           "PCTERMN", "LAPTPN", "TABLETN","SERVERN", "ELEXP", "LGOFFDEVN", "SMOFFDEVN", "WBOARDSN"]

In [7]:
df = data[columns]

In [8]:
df.head()

,DATACNTR,TRNGRM,STDNRM,LGOFFDEV,SMOFFDEV,SERVER,LAPTOP,PCTERMN,LAPTPN,TABLETN,SERVERN,ELEXP,LGOFFDEVN,SMOFFDEVN,WBOARDSN
0,1.0,2.0,2.0,1.0,2.0,1.0,1.0,250.0,50.0,NaN,100.0,775800.0,70.0,NaN,4.0
1,2.0,2.0,2.0,1.0,1.0,1.0,1.0,20.0,5.0,100.0,1.0,77933.0,2.0,10.0,NaN
2,2.0,2.0,2.0,2.0,1.0,1.0,1.0,2.0,5.0,2.0,1.0,3472.0,NaN,3.0,NaN
3,2.0,2.0,2.0,2.0,1.0,1.0,1.0,15.0,10.0,NaN,1.0,41197.0,NaN,9.0,NaN
4,2.0,2.0,2.0,2.0,1.0,2.0,2.0,10.0,NaN,NaN,NaN,33688.0,NaN,12.0,NaN

In [10]:
df.describe()

,DATACNTR,TRNGRM,STDNRM,LGOFFDEV,SMOFFDEV,SERVER,LAPTOP,PCTERMN,LAPTPN,TABLETN,SERVERN,ELEXP,LGOFFDEVN,SMOFFDEVN,WBOARDSN
count,5793.000000,5793.000000,5793.000000,6314.000000,6314.000000,6314.000000,6314.000000,5540.000000,4758.000000,3475.000000,3633.000000,6.357000e+03,3814.000000,5073.000000,1301.000000
mean,1.845158,1.776627,1.831348,1.395946,1.196547,1.424612,1.246436,173.868773,145.064523,101.355108,84.003303,2.535272e+05,72.832197,194.022078,118.190623
std,0.361785,0.416542,0.374476,0.489092,0.397419,0.494323,0.430970,443.911787,308.190016,235.954625,826.355795,5.776407e+05,739.630732,1250.707378,953.921298
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.200000e+01,1.000000,1.000000,1.000000
25%,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,6.000000,5.000000,5.000000,2.000000,1.180600e+04,2.000000,4.000000,4.000000
50%,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,30.000000,23.000000,20.000000,4.000000,6.674000e+04,5.000000,10.000000,12.000000
75%,2.000000,2.000000,2.000000,2.000000,1.000000,2.000000,1.000000,150.000000,100.000000,99.500000,10.000000,2.555860e+05,15.000000,30.000000,40.000000
max,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3615.000000,1480.000000,1410.000000,9995.000000,1.487568e+07,9995.000000,9995.000000,9995.000000

In [11]:
missing_values = df.isnull().sum()
print(missing_values)

DATACNTR      643
TRNGRM        643
STDNRM        643
LGOFFDEV      122
SMOFFDEV      122
SERVER        122
LAPTOP        122
PCTERMN       896
LAPTPN       1678
TABLETN      2961
SERVERN      2803
ELEXP          79
LGOFFDEVN    2622
SMOFFDEVN    1363
WBOARDSN     5135
dtype: int64

In [12]:
df = df.dropna(subset=['ELEXP'])

In [14]:
cat_cols = ["DATACNTR", "TRNGRM", "STDNRM", "LGOFFDEV", "SMOFFDEV", "SERVER", "LAPTOP"]
num_cols = ["PCTERMN", "LAPTPN", "TABLETN","SERVERN", "ELEXP", "LGOFFDEVN", "SMOFFDEVN", "WBOARDSN"]

In [ ]:
def fill_na_cat(df, cols):